.page{
  width: 700px;
  margin: auto;
  font-size: 16px;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
}
.infophoto{
  height: 250px;
}
.info{
  float: left;
}
.photo{
  float: right;
}
.section{
  margin-bottom: 70px;
  text-align: justify;
}
.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.sec-gauche-comp{
  float: left;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.25;
}
.sec-droite{
  margin-left: 160px;
  margin-top: 35px;
}
.sec-droite-exp{
  margin-left: 160px;
  margin-top: 37px;
}
.sec-droite-comp{
  margin-left: 165px;
  margin-top: 38px;
  line-height: 1.8;
}
.sec-droite-lang{
  margin-left: 165px;
  margin-top: 37px;
  line-height: 1.7;
}

strong{
  font-size: 36px;
  color: #206670;
}
h2{
  font-size: 26px;
  color: #008080;
  text-transform: uppercase;
  border-bottom: 3px solid #008B8B;
}

.titre{
  font-weight: bold;
  font-size: 20px;
}
#forma-g p{
  margin-bottom: 34px;
}
#exp-g p{
  margin-top: 34px;

}
